body {
    color: white;
    background: #2b2b2b;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 50px;
}

.logo {
    width: 500px;
}

.games img {
    cursor: pointer;
}